/* variables ::  */

:root {
  --primary-color: #ffffff5b;
  --secondary-color: #3f1d1d;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.header {
  text-align: center;
  margin-top: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px 40px 20px 40px;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 9px;
}

.task-adder {
  margin-top: 40px;
  text-align: center;
}

.task-adder input {
  width: 280px;
  height: 27px;
  color: var(--primary-color);
  font-size: 18px;

  border-color: var(--secondary-color);
  font-weight: bold;

  border-top-left-radius: 9px;

  border-bottom-left-radius: 9px;
  caret-color: var(--primary-color);
  background-color: var(--secondary-color);
  outline: none !important;
  padding: 4px;
  padding-left: 8px;
}

.task-adder button {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.task-list {
  margin-top: 35px;

  color: var(--primary-color);
  font-size: 22px;

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.task {
  margin-top: 10px;

  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-weight: bold;
  font-size: 23px;
}

.title {
  padding-right: 15px;
  border: 0px;
  outline: none !important;
  font-weight: bold;
  font-size: 22px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.trash {
  color: var(--primary-color);
  padding-right: 10px;
}

.trash :hover {
  color: red;
  padding-right: 10px;
  cursor: pointer;
}

.edit {
  color: greren;
  text-align: right;
  padding-right: 10px;
}

.edit :hover {
  color: green;
  cursor: pointer;
}
